<!DOCTYPE html>
<html>
<head>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    
  
</head>

<body>
    <div id="googleMap" style="width:500px;height:380px;"></div>
</body>

</html>